<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- Service name for log enrichment -->
    <property name="SERVICE_NAME" value="gateway-service"/>

    <!-- JSON encoder -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"${SERVICE_NAME}"}</customFields>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
